html {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    margin-left: -180px;
}
header {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 420px;
    margin-top: 30px;
    font-weight: 900;
}
nav {
    color: #e5e7eb;
    font-size: 18px;
    text-align: right;
    margin-top: -25px;
    margin-right: 75px;
}
a {
    padding: 10px;
}
.website {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-top: 90px;
    margin-left: 420px;
}
.subtext {
    margin-left: 420px;
    margin-top: -10px;
    font-size: 18px;
    color: #e5e7eb;
}
img {
    width: 500px;
    height: 250px;
    margin-top: -250px;
    margin-bottom: 40px;
    margin-left: 930px;
}
button {
    margin-left: 420px;
    margin-top: -110px;
    width: 140px;
    height: 40px;
    background-color: #3882f6;
    border-style: hidden;
    border-radius: 10px;
    font-size: 20px;
    color: #f9faf8;
    font-weight: 900;
}
.part2 {
    background-color: #f9faf8;
    width: 1468px;
    height: 950px;
    padding-left: 50px;
    margin-left: -5px;
}
.information {
    color: #1f2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding-top: 50px;
    margin-bottom: 550px;
    margin-left: 20px;
    margin-right: -10px;
}
h1 img {
    padding: 450px;
    margin-top: -2590px;
    margin-left: -30px;
    margin-right: 600px;
    width: 150px;
    height: 150px;
}
h1 p{
    color: #1f2937;
    margin-left: -580px;
    margin-top: -470px;
    font-weight: 100;
}
h2 img {
    padding: 450px;
    width: 150px;
    height: 150px;
    margin-top: -3915px;
    margin-left: 170px;
}
h2 p {
    color: #1f2937;
    margin-left: -185px;
    margin-top: -282px;
    font-weight: 100;
    text-align: center;
}
h3 img {
    padding: 450px;
    width: 150px;
    height: 150px;
    margin-left: 370px;
    margin-top: -950px;
}
h3 p {
    color: #1f2937;
    text-align: center;
    margin-left: 220px;
    margin-top: -290px;
    font-weight: 100;
}
h4 img {
    padding: 450px;
    width: 150px;
    height: 150px;
    margin-left: 570px;
    margin-top: -972px;
}
h4 p {
    color:#1f2937;
    text-align: center;
    margin-left: 620px;
    margin-top: -290px;
    font-weight: 100;
}
.quote {
    background-color: #e5e7eb;

}